.sidebar {
    display: none;
    position: relative;
}

.sidebar.open {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 317px;
    height: 100vh;
    background-color: #ffffff;
}

.background {
    width: 100vw;
    height: 100vh;
    background: #000000;
    opacity: 0.3;
}

.nav {
    display: flex;
    flex-direction: column;
    gap: 45px;
    padding-top: 30px;
    padding-left: 70px;
}

.nav a {
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    text-decoration: none;
}

.nav a:hover {
    text-decoration-line: underline;
    color: #0059B2;
}

.nav a.active {
    color: #58ACFF;
    text-decoration: none;
}
.close {
    display: block;
    margin-left: auto;
    margin-right: 30px;
    background-color: transparent;
    border: none;
    padding: 6px;
    margin-top: 22px;
}

.close img {
    width: 100%;
    height: auto;
}
