.radio {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    white-space: nowrap;
    border: 0;
}

.radio::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    top: -3px;
    left: -5px;
    border: 1px solid #000000;
    border-radius: 50%;
}


.radio:checked::after {
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    left: -1px;
    top: 1px;
    background-color: #000000;
    border-radius: 50%;
}

.label {
    position: relative;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.span {
    font-size: 16px;
    line-height: 20px;
    padding-left: 30px;
}
