.buttonsContainer {
    display: flex;
    gap: 15px;
    margin-top: 45px;
}

.clock {
    margin: 0 200px;
    max-width: 600px;
}

.watch {
    font-size: 20px;
    cursor: pointer;
}

.more {
    color: rgba(0, 0, 0, 0.50);
    margin-top: 10px;
}